*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cardHighlight{
  min-height: 100%;
}

.img-height{
  height: 50vh !important;
}

.bgcolor{
  background-color: #62D3F8;
}



.readMore{
  color: darkblue;

}